@import '~purecss/build/pure.css';
@import '~purecss/build/grids.css';
@import '~purecss/build/grids-responsive.css';
@import '~purecss/build/menus.css';

.App {
  margin: 1em;
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 1.5em;
  /*position: fixed;
  top: 2em;
  left: 2em;*/
  margin: 1em;
  vertical-align: middle;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.truncate {
  width: 250px;
  /*white-space: nowrap;*/
  /*overflow: hidden;*/
  /*text-overflow: ellipsis;*/
}

.AppHeader {
  padding: 2px;
  margin-bottom: 2em;
  background-color: #eee;
  border: solid 2px black;
  font-weight: bold;
  .pure-menu-link{
    color: #222;
  }

  .pure-menu-children {
    border: 2px solid #ddd;
    background-color: #FDFDFD;
    .pure-menu-link {
      color: #444;
      &:hover {
        background-color: #eee;
      }
    }
  }

  
  .blogLinks {
    li {
      // border: 1px solid #DDD;
      a {
          white-space: normal;
      }
      // &:nth-child(2n) a {background-color: #FFF};
      // &:nth-child(2n+1) a {background-color: white}
      // &:hover {
      //   border: 1px solid #888;
      //   border-radius: 5px;
      // }
    }

    .blogPostLink {
      @extend .truncate;
      text-align: left;
      font-size: .9em;
      span {
        font-size: .6em;
      }
    }
  }

  .contactLinks {
    img {
      height: 1em;
      vertical-align: middle;
      margin: 0 0.2em;
    }
    .linkedin {
      color: #007bb6;
    }
    .github {
      color: black;
    }
    .twitter {
      color: #00aced;
    }
  }
}

.AppContent {
  section {
    margin-bottom: 3em;
  }

  .expandButton {
    border: solid 2px black;
    background-color: #eee;
    padding: 1em 2em;
    position: relative;
    left: 0;
    right: 0;
    margin: 0 auto;
    margin-bottom: 1em;
  }
}

.AppFooter {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #EEE;
  padding: 0.5em 0;
  /*font-size: .8em;*/
  color: #777;
}

svg text {
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
}
svg text::selection {
    background: none;
}

.vx-axis-left {
  line {
    opacity: 0
  }
}

@keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

path.small {
  fill: #fff;
}

// path.small:hover {
//   fill: url(#background);
// }
@keyframes fade-in-down {
    0% {
        opacity: 0;
        -webkit-transform: translateY(-10px);
        transform: translateY(-10px);
    }
    100% {
        opacity: 1;
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
}

.banner {
  a h1 {
    animation: fade-in-down 0.6s both;
    animation-delay: 0.2s;
  }
}